@model IEnumerable<EHA_News.Models.Article>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
    <body>
    <!-- List of articles -->
    <h2>Article List for @ViewBag.DisplayCategory</h2>
    @if (Model != null && Model.Any())
    {
        <div class="article-list">
            @foreach (var article in Model)
            {
                <div class="article">
                    <h2>@article.Headline</h2>
                    <p><strong>Author:</strong> @article.Author</p>
                    <p>@article.Synopsis</p>
                    <p><strong>Published:</strong> @article.DatePublished.ToShortDateString()</p>
                </div>
                <hr />
            }
        </div>
    }
    else
    {
        <p>No articles available. Be the first to write one!</p>
    }
    </body>


