@model EHA_News.Models.Article

@{
    ViewData["Title"] = "View Article";
}

<div class="container bg-black text-white pt-3 mb-5 font-weight-bold">
    
    <div class="row mb-2">
        <a class="text-light" asp-controller="Article" asp-action="Category" asp-route-categoryID=@Model.CategoryId>@Model.Category.CategoryName</a>
    </div>
    
    <h1>
        @Model.Headline
    </h1>

    <div class="row mb-2">
        <h5> @Model.Synopsis</h5>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Written by: @Model.Author
            </p>
        </div>
        <div class="col">
            <p>
                Published On: @Model.DatePublished.ToLongDateString()
            </p>
        </div>
    </div>
</div>

<div class="container">
    <p>
        This is the intro of the article. it's a paragraph long and it has to lay out the foundation of what the article is discussing.
        This is the intro of the article. it's a paragraph long and it has to lay out the foundation of what the article is discussing.
        This is the intro of the article. it's a paragraph long and it has to lay out the foundation of what the article is discussing.
        This is the intro of the article. it's a paragraph long and it has to lay out the foundation of what the article is discussing.
        This is the intro of the article. it's a paragraph long and it has to lay out the foundation of what the article is discussing.
    </p>
    
    <h3>
        First Heading
    </h3>

    <p>
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
    </p>

    <p>
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order.
    </p>

    <p>
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article. We're starting the story from the beginning going in chronological order. This goes on for a couple of paragraphs.
        This is the first section of the article.
    </p>

    <h3>
        Second Heading
    </h3>

    <p>
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
    </p>

    <p>
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting.
    </p>

    <p>
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. There are some developments in the story and things are getting interesting. This also goes on for a few paragraphs.
        This is the next section of the article. 
    </p>

    <h3>
        Final Heading
    </h3>

    <p>
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
    </p>

    <p>
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished. This goes on for about 2 paragraphs.
        This is the final section before the conclusion. The final facts are stated and everything is almost finished.
    </p>

    <h3>
        Conclusion
    </h3>

    <p>
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
        Summarizing all the facts and what the reader should take away from them. This section is pretty short, but it is also very important in the grand scheme of things.
    </p>

</div>
