@model EN_Assignment5.Models.Hold

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

    <a class="btn btn-secondary" asp-controller="Article" asp-action="View_Article">Generic Article</a>

    <ul class="nav-menu" style="list-style-type: none;">
        <li><a href="https://localhost:7080/">Home</a></li>
        <li><a href="https://docs.google.com/document/d/1l7oFn_q9IAjHlUBQoFWGomjzdsYYMFL0H6ky3UGJlwU/edit?usp=sharing">Poem For the Website</a></li>

    </ul>

    <h1> My Personal Website :) </h1>
    <img id="logo" alt="Photo of Me"
         src="~/images/WIN_20241102_21_36_09_Pro.jpg"
         class="img-responsive rounded" />


    <div class="container mt-5">
        
        

        <div class="row">
            <div class="col-md-6">
                <p><strong>Name:</strong> @ViewBag.Name</p>
                <p><strong>Highest Education:</strong> @ViewBag.Education</p>
                <p><strong>Birth Place:</strong> @ViewBag.Birth</p>
            </div>
        </div>

        <h2>Hobbies:</h2>
        <ul>
            @foreach (var hobby in Model.Hobbies)
            {
                <li>@hobby</li>
            }
        </ul>

        <h2>Favorite Classes:</h2>
        <ul>
            @foreach (var className in Model.Classes) 
            {
                <li>@className</li>
            }
        </ul>

    </div>

  


